In [1]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

In [9]:
print('Some of the popular languages that Data Scientists use are' ' Python,', 'R' )

Some of the popular languages that Data Scientists use are Python, R

In [11]:
#Some of the commonly used libraries used by Data Scientists include:
import seaborn as sn
import numpy as np
import pandas as pd 
import tensorflow as te 
import matpoltlib as mt

In [12]:
import pandas as pd

data = {'Data Science Tools': ['Jupyter Notebook', 'Google Colab', 'VS Code with Python Extension']}
df = pd.DataFrame(data)

print(df.to_markdown(index=False))

| Data Science Tools            |
|:------------------------------|
| Jupyter Notebook              |
| Google Colab                  |
| VS Code with Python Extension |

In [16]:
#Below are a few examples of evaluating arithmetic expressions in Python.
print("Below are a few examples of evaluating arithmetic expressions in Python")

Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
(3*4)+5

17

In [25]:
A= [200/60]
print('This will convert 200 minutes to hours by diving by 60 is ', A)

This will convert 200 minutes to hours by diving by 60 is  [3.3333333333333335]

In [28]:
#**Objectives:**

#List popular languages for Data Science
#Understand basic Python syntax
#Learn how to work with data using libraries like pandas and NumPy
#Explore data visualization techniques using Matplotlib
#Apply machine learning models using Scikit-learn]

In [29]:
# Author 
#Devesh Taori